
// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .0625),
    2: ($spacer * .125),
    4: ($spacer * .25),
    5: ($spacer * .3125),
    8: ($spacer * .5),
    10: ($spacer * .625),
    12: ($spacer * .75),
    16: $spacer,
    20: ($spacer * 1.25),
    24: ($spacer * 1.5),
    30: ($spacer * 1.875),
    32: ($spacer * 2),
    40: ($spacer * 2.5),
    48: ($spacer * 3),
    56: ($spacer * 3.5),
    60: ($spacer * 3.75),
    64: ($spacer * 4),
    80: ($spacer * 5),
  ),
  $spacers
);


// Typography
$font-family-sans-serif: "Larsseit", sans-serif;
$font-size-xx-sm: 0.625rem; 
$font-size-x-sm: 0.75rem;  
$font-size-sm:   0.8125rem;
$font-size-base: 0.875rem;
$font-size-lg: 0.9375rem;
$font-size-x-lg: 1rem; 
$font-size-huge: 5.625rem;

$line-height-base: 1.5;

$headings-margin-bottom: ($spacer * 3);
$headings-font-weight: 600;

$h1-font-size: 1.875rem;


// Colors
$white: #fff;
$black: #121111;
$light-grey: #eee;
$red: #ef5858;

$theme-colors: (
	"light-grey": $light-grey,
	"black": $black
);

$gray-600: rgba($black, .5);

$body-bg: $white;


// Sizes
$sizes: (
	16: $spacer * 22.5,
);


// Links
$link-color: theme-color("black");
$link-hover-color: theme-color("black");


// Rounded
$enable-rounded: false;


// Forms
$input-focus-box-shadow: none;
$input-btn-focus-width: 0;


// Header
$header-height: 80px;
