
// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
// Custom Variables
@import 'variables';
@import "~bootstrap/scss/variables";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/embed";
@import "~bootstrap/scss/utilities/borders";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/screenreaders";


html { height: 100%; }

body {
	height: 100%;
	-webkit-font-feature-settings: "ss01", "ss02";
	font-feature-settings: "ss01", "ss02";
	color: theme-color("black");
}

textarea {
	height: auto;
	resize: none;
	outline: none;
	-moz-font-feature-settings: inherit;
	-webkit-font-feature-settings: inherit;
	font-feature-settings: inherit;
	border: 1px solid red;
	background: none;
}

textarea:focus {
	background: none;
}

a:hover {
	text-decoration: none;
}

button:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: theme-color("black");
  // -webkit-box-shadow: 0 0 0px 1px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea::-webkit-input-placeholder {
	color: $input-placeholder-color;
	opacity: 1;
}
textarea:-ms-input-placeholder {
	color: $input-placeholder-color;
	opacity: 1;
}
textarea::-ms-input-placeholder {
	color: $input-placeholder-color;
	opacity: 1;
}
textarea::placeholder {
	color: $input-placeholder-color;
	opacity: 1;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-y {
	overflow-y: auto;
}

.mh-0 {
	min-height: 0;
}

.form-narrow {
	width: 100%;
}

@include media-breakpoint-up(sm) {
	.form-narrow {
		width: $spacer * 20;
		color: #fff;
	}
}

.border-3 {
	border-width: 3px !important; 
}

.xxsmall {
	font-size: $font-size-xx-sm;
}

.xsmall {
  font-size: $font-size-x-sm;
}

small,
.small {
  font-size: $font-size-sm;
}

.large {
	font-size: $font-size-lg;
}

.xlarge {
	font-size: $font-size-x-lg;
}

.huge {
	font-size: 10.5vw;
	font-weight: 800;
	line-height: 1.1;
}

@include media-breakpoint-up(md) {
	.huge {
		font-size: $font-size-huge; 
	}
}

.line-height-1 {
	line-height: 1;
}

.clickable {
	cursor: pointer;
}

.form-control {
	height: auto;
	color: theme-color("black");
	background: none;
}

.comment-box {
	min-height: $header-height;
	max-height: 40%;
}

.profile-picture {
	display: block;
	width: $spacer * 2.25;
	height: $spacer * 2.25;
	background: #aaa;
	border-radius: 50%;
}

@include media-breakpoint-up(md) {
	.video-header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}

	.video-sidebar {
		width: 45%;
		max-width: $spacer * 26;
	}
}

.narrow-container {
	max-width: 720px;
}

.schedule-time {
	flex-basis: 25%;
}

.schedule-name {
	flex-basis: 50%;
}

.schedule-reminder {
	flex-basis: 25%;
}

.live-broadcast { 
	font-size: $font-size-xx-sm;
	font-weight: $font-weight-bold;
	line-height: 1;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.text-vertical {
	writing-mode: tb-rl;
}

header,
.bar {
	height: $header-height;
}

header div {
	 flex-basis: 0;
}

.home header {
	background: $black;

	> div > a,
	.user {
		color: $white;
	}

	.menu-toggle::before,
	.menu-toggle::after {
		background: $white;
	}

	.menu-toggle.activated::before,
	.menu-toggle.activated::after {
		background: $black;
	}
}

.logo {
	font-size: $font-size-x-lg;
	font-weight: bold;
	z-index: 102;
}

.menu-toggle {
	position: relative;
	display: block;
	width: 30px;
	height: 32px;
	z-index: 110;
	cursor: pointer;
}

.menu-toggle::before,
.menu-toggle::after {
	position: absolute;
	top: 12px;
	right: 0;
	left: 0;
	height: 2px;
	background: $black;
	content: '';
    -webkit-transition: all .2s; /* Safari */
    transition: all .2s;
}

.menu-toggle::after {
	top: auto;
	bottom: 12px;
}

.menu-toggle.activated::before {
	top: 15px;
	transform: rotate(135deg);
}

.menu-toggle.activated::after {
	bottom: 15px;
	transform: rotate(-135deg);
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 0;
	background: theme-color("light-grey");;
	z-index: 100;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;

    ul {
    	padding-top: $header-height;
    	padding-left: 0;
		list-style: none;
    }

    li {
    	font-size: $h1-font-size;
    	font-weight: $font-weight-bold;
	    -webkit-transition: margin .3s; /* Safari */
	    transition: margin .3s;
    }
}

@include media-breakpoint-up(md) {
	.menu {
		ul {
			padding-top: $header-height-md-up; 
		}
	}
}

.menu.activated {
	height: 100vh;
}

.close {
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	z-index: 110;
	cursor: pointer;
}

.close::before,
.close::after {
	position: absolute;
	top: 8px;
	left: -2px;
	height: 2px;
	width: 22px;
	content: '';
	background: $white;
	transform: rotate(-45deg);
}

.close::after {
	transform: rotate(45deg);
}

.close-small {
	width: 10px;
	height: 10px;
}

.close-small:before,
.close-small:after {
	top: 4px;
	left: -1px;
	width: 12px;
	color: #ff2801;
}

.close-dark::before,
.close-dark::after {
	background: $black;
}

.broadcast-popup {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 18rem;
	overflow: hidden;
}

.video-container {
	height: 0;
	padding-bottom: 56.25%
}

.online-icon {
	display: inline-block;
	margin-right: 4px;
	width: 6px;
	height: 6px;
	background: #3ebe4d;
	border-radius: 5px;
}

.latest-sermon {
	position: relative;
	height:	calc(100vh - 5rem);
	background: $black;
	overflow: hidden;
}

.sermon-image-container {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 0;

	img {
		margin-left: 50%;
		height: 100%;
		width: auto;
		transform: translateX(-60%);
	}
}

.move-up {
	z-index: 10;
}

// Fix this: Login/Register..
.error {
	border: 1px solid red;
}