html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Larsseit";
	font-size: 14px;
	line-height: 1.5;
	-moz-font-feature-settings: "ss01", "ss02";
	-webkit-font-feature-settings: "ss01", "ss02";
	font-feature-settings: "ss01", "ss02";
}

#app {
	height: 100%;
}

#broadcast-page {
	height: 100%;
	display: flex;
}

.broadcast-video {
	height: 100%;
	width: 68%;
	background: #121111;
}

.comments-section {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 80px;
	padding: 40px 40px 0;
	width: 32%;
	height: 100%;
	background: #f0f0f0;
	box-sizing: border-box;
}

.comments-username {
	display: block;
	font-weight: bold;
}

#broadcast-comment-form {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 32%;
	background: #fff;
}

input {
	margin: 0;
	padding: 0 40px;
	width: 100%;
	height: 80px;
	border: 0;
	background: none;
	box-sizing: border-box;
	font-family: "Larsseit";
	font-size: 14px;
	line-height: 1.5;
	-moz-font-feature-settings: "ss01", "ss02";
	-webkit-font-feature-settings: "ss01", "ss02";
	font-feature-settings: "ss01", "ss02";
}

.back {
	color: #fff;
}